scorpion-framework/scorpion-common/META-INF/resources/tscpcoreconfig.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2010 (http://www.altova.com)-->
<!--Comment describing your root element-->
<!ELEMENT tscp-configuration ((server-config | glob-config | platform-config | components), (server-config | glob-config | platform-config | components), (server-config | glob-config | platform-config | components), (server-config | glob-config | platform-config | components))>
<!ELEMENT server-config ((machine-name | node-name), (machine-name | node-name))>
<!ELEMENT machine-name EMPTY>
<!ATTLIST machine-name
	name CDATA #IMPLIED
	isCluster NMTOKEN #IMPLIED
>
<!ELEMENT node-name EMPTY>
<!ATTLIST node-name
	name CDATA #IMPLIED
	memo CDATA #IMPLIED
>
<!ELEMENT glob-config ((running-model | log-level | system-charset | jmx-server), (running-model | log-level | system-charset | jmx-server), (running-model | log-level | system-charset | jmx-server), (running-model | log-level | system-charset | jmx-server))>
<!ELEMENT running-model EMPTY>
<!ATTLIST running-model
	value CDATA #IMPLIED
	memo CDATA #IMPLIED
>
<!ELEMENT log-level ANY>
<!ELEMENT system-charset EMPTY>
<!ATTLIST system-charset
	defaultCharset CDATA #IMPLIED
>
<!ELEMENT jmx-server EMPTY>
<!ATTLIST jmx-server
	port NMTOKEN #IMPLIED
>
<!ELEMENT platform-config (scanners)>
<!ELEMENT scanners (scanner)>
<!ATTLIST scanners
	jarexpression CDATA #IMPLIED
	classexpression CDATA #IMPLIED
>
<!ELEMENT scanner EMPTY>
<!ATTLIST scanner
	name CDATA #IMPLIED
	class CDATA #IMPLIED
	memo CDATA #IMPLIED
>
<!ELEMENT components (component)>
<!ELEMENT component (#PCDATA)>
