scorpion-framework/config/resource/ztcf.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2010 (http://www.altova.com)-->
<!--Comment describing your root element-->
<!ELEMENT tscp-configuration (server-config, global-config, platform-config, component-config?)>
<!ELEMENT server-config (machine-name, node-name)>
<!ELEMENT machine-name EMPTY>
<!ATTLIST machine-name
	name CDATA #REQUIRED
	iscluster NMTOKEN #REQUIRED
>
<!ELEMENT node-name EMPTY>
<!ATTLIST node-name
	name CDATA #REQUIRED
	memo CDATA #IMPLIED
>
<!ELEMENT global-config ((systemcharset | runningmodel | loglevel | jmxserver?), (systemcharset | runningmodel | loglevel | jmxserver?), (systemcharset | runningmodel | loglevel | jmxserver?), (systemcharset | runningmodel | loglevel | jmxserver?))>
<!ELEMENT systemcharset EMPTY>
<!ATTLIST systemcharset
	defaultcharset CDATA #REQUIRED
>
<!ELEMENT runningmodel EMPTY>
<!ATTLIST runningmodel
	value CDATA #REQUIRED
	memo CDATA #IMPLIED
>
<!ELEMENT loglevel EMPTY>
<!ATTLIST loglevel
	value CDATA #REQUIRED
>
<!ELEMENT jmxserver EMPTY>
<!ATTLIST jmxserver
	port NMTOKEN #REQUIRED
>
<!ELEMENT platform-config (scanners)>
<!ELEMENT scanners (scanner+)>
<!ATTLIST scanners
	jarexpression CDATA #IMPLIED
	classexpression CDATA #IMPLIED
>
<!ELEMENT scanner EMPTY>
<!ATTLIST scanner
	name CDATA #IMPLIED
	class CDATA #IMPLIED
	memo CDATA #IMPLIED
>
<!ELEMENT component-config (component*)>
<!ELEMENT component (#PCDATA)>
<!ATTLIST component
	name CDATA #IMPLIED
	bootsequence CDATA #IMPLIED
	class CDATA #IMPLIED
	memo CDATA #IMPLIED
	parameter CDATA #IMPLIED
>
